.homepage {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    padding: 2em 5em;

    .searcharea {
        display: flex;
        justify-content: space-between;

        .left {
            max-height: 60px;
            width: 400px;
        }

        .filter-wrappers {
            background: var(--light-mode-element);
            box-shadow: 1px 2px 2px rgb(226, 226, 226);
            padding: 0.2em 2em;
            border-radius: 5px;
        }
        .searchbox-wrapper {
            font-size: 14px;
            color: gray;
        }
        .searchbox {
            background: transparent;
            padding: 1em;
            border: 0;
            outline: 0;
            width: 80%;
        }
        .custom-select {
            width: 10em;
            position: relative;

            .select-wrapper {
                width: 100%;
                padding: 0.4em 0.2em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                position: relative;
                overflow: visible;
    
                .dropdown-head {
                    padding: 0.6em 1.2em;
                    text-transform: capitalize;
                    color: var(--light-mode-text);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    font-size: 0.8em;
                    width: 100%;
                    font-weight: 600;


                    span {
                        font-size: 1em;
                        font-weight: 600;
                    }
                }

                
            }

            .dropdown{
                margin-top: 4px;
                position: absolute;
                transition: 0.5s linear;
                background: var(--light-mode-element);
                width: inherit;
                border-radius: 5px;
                box-shadow: 1px 2px 2px rgb(226, 226, 226);
                padding: 1em;
                font-size: 0.8em;
                font-weight: 600;
                display: none;

                .dropdown-item {
                    padding: 0.5em 0.5em;
                    cursor: pointer;
                }
            }
            .target{
                display: flex;
                flex-direction: column;
                transition: 0.5s linear;
            }
        }
        
        
    }

    .country-wrapper {
        margin: 1.5em -1.5em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        
    
        .country-card{
            // border: 1px solid gray;
            border-radius: 10px;
            width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background: hsl(0, 0, 100%);
            margin: 20px 0px;
            border-radius: 5px;
            box-shadow: 1px 2px 2px rgb(226, 226, 226);
            cursor: pointer;
            margin: 1.5em;

            &:link {
                color: var(--light-mode-text);
            }
            &:hover {
                color: var(--light-mode-text);
            }
            &:visited {
                color: var(--light-mode-text);
            }
            &:active {
                color: var(--light-mode-text);
            }
        
            .flag-wrapper {
                width: 100%;
                height: 160px;
                overflow: hidden;
                pointer-events: none;
        
                .flags {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .country-details {
                padding: 1em;
                padding-bottom: 2em;
                pointer-events: none;
        
                h4 {
                    font-size: 1.1em;
                    margin: 0.8em 0px;
                }
                
                p {
                    font-size: 14px;
                    margin: 0.5em 0px;
                    font-weight: 600;
        
                    span {
                        font-weight: 300;
                    }
                }
        
            }
        
            
        }
        
        
    }
    
}




.dark .homepage{
    .searcharea {
        .filter-wrappers {
            box-shadow: 1px 1px 2px hsl(208, 26%, 13%);
            background: var(--dark-mode-elements);
        }
        .searchbox-wrapper {
            box-shadow: 1px 1px 2px hsl(208, 26%, 13%);
            background: var(--dark-mode-elements);
            color: white;
        }
        .searchbox, .searchbox::placeholder{
            color: white;
        }
        .select-wrapper{
            color: white;

            p {
                color: var(--dark-mode-text);
            }
        }
        .select {
            background: var(--dark-mode-elements);
            color: white;
        }
        span {
            position: absolute;
            right: 5%;
            pointer-events: none;
            font-size: 0.7em;
            color: white;
        }

        .custom-select {

            .select-wrapper {
    
                .dropdown-head {
                    color: var(--dark-mode-text);
                } 
            }

            .dropdown{
                background: var(--dark-mode-elements);
                box-shadow: 1px 1px 2px hsl(208, 26%, 13%);
                color: var(--dark-mode-text);
            }
        }

        
    }

    .country-card{
        box-shadow: 1px 1px 2px hsl(208, 26%, 13%);
        background: var(--dark-mode-elements);
        color: white;

        &:link {
            color: var(--dark-mode-text);
        }
        &:hover {
            color: var(--dark-mode-text);
        }
        &:visited {
            color: var(--dark-mode-text);
        }
        &:active {
            color: var(--dark-mode-text);
        }

    
        .flag-wrapper {
            width: 100%;
            height: 140px;
            overflow: hidden;
    
            .flags {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                width: 100%;
            }
        }
        .country-details {
            padding: 1em;
            padding-bottom: 2em;
    
            
        }
    
        
    }

} 


@media screen and (max-width: 960px) {
    .homepage {
        padding: 2em;

        .searcharea {
    
            .left {
                width: 300px;               
            }   
        }
    }
}

@media screen and (max-width: 600px) {
    .homepage {
        margin-top: 4em;
        display: flex;
        flex-direction: column;
        padding: 1em;

        .searcharea {
            flex-direction: column;
    
            .left {
                width: 100%;
                margin: 1em 0;                
            }
            .searchbox {
                padding: 1.5em;
                font-size: 1em;
            }
            
            .custom-select{
                width: 15em;
                margin: 1em 0;

                .select-wrapper {
                    padding: 0.8em 0.5em;

                    .dropdown-head{
                        font-size: 0.9em;
                        padding-right: 1em;
                    }

                }

                .dropdown {
                    font-size: 0.9em;
                }

            }
            
        }

        .country-wrapper {
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            .country-card{
                width: 260px;
                margin: 20px 0px;
            
                .flag-wrapper {
                    width: 100%;
                    height: 160px;
                    overflow: hidden;
            
                    .flags {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .country-details {
                    padding: 1em;
                    padding-bottom: 2em;
            
                    h4 {
                        font-size: 1.1em;
                        margin: 0.8em 0px;
                    }
                    
                    p {
                        font-size: 14px;
                        margin: 0.5em 0px;
                        font-weight: 600;
            
                        span {
                            font-weight: 300;
                        }
                    }
            
                }
            
                
            }
        }

    }

    
    
}